{% extends "base_page.html" %}
{% block content %}
<h1 class="m-3">{{ good.title }}</h1>
<div class="row justify-content-center">
  <div class="col-6 m-3">
      <div class="single-item">
        {% for image in images %}
          <div class="row justify-content-center">
            <img class="card-img-top" style='max-height:600px; min-height:500px; width: auto; margin-left: auto; margin-right: auto' src="{{ image.image.url }}">
          </div>
        {% endfor %}
      </div>
      <div class="card-body">
        <p class="card-text m-1">{{ good.category }}</p> 
        <p class="card-text m-1">{{ good.description }}</p> 
        {% if request.user.is_authenticated %}
        <a href="{% url 'exchangesite:user' user_id=good.user_id %}" class="card-link">{{ good.user.nickname }}</a>
        <a href="{% url 'exchangesite:exchange' user_id=good.user_id good_id=good.id %}" class="btn btn-primary m-1">Предложить обмен</a>
        {% endif %}
      </div>
    </div>
</div>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('.single-item').slick({
    dots: true,
    arrows: true,
  });
});
</script>
{% endblock %}